

<ion-content [fullscreen]="true">

  <div class="news-back">

    <ion-toolbar>
      <ion-title>
        Home
      </ion-title>
      <ion-icon class="makePayment" (click)="payment()" name="add-outline"></ion-icon>
    </ion-toolbar>
    <ion-item text-center lines="none">

      <ion-label text-center>
        
        <h1 text-center style="text-align: center;">$ {{totalbill}}</h1>
      </ion-label>
     

    </ion-item>

   

    <ion-item text-center lines="none">
      <ion-label text-center>
        
        <p class="month" text-center style="text-align: center;">{{month}}</p>
      </ion-label>
      <ion-icon (click)="select()" *ngIf="caret==false" class="caret" name="caret-forward"></ion-icon>
      <ion-icon (click)="nextSelect()" *ngIf="caret==true" class="caret" name="caret-down"></ion-icon>

    </ion-item>


    <ion-select (ionChange)="nextSelect()" interface="action-sheet" hidden="true" #mySelect>
      <ion-select-option *ngFor="let data of billUsage" value="{{data.bill}}">${{data.bill}}:     {{data.month}}</ion-select-option>
    </ion-select>
  </div>

     
    
 



    <ion-list>
      <ion-item>
        <ion-label>Show Latest Topup:</ion-label>
        <ion-icon (click)="myCaret()" *ngIf="topCaret==false" class="top" name="caret-forward"></ion-icon>
      <ion-icon (click)="myCaret()" *ngIf="topCaret==true" class="top" name="caret-down"></ion-icon>
        
      </ion-item>

      <div class="news-card" *ngIf="topupUsage && topCaret==true">
        <ion-list *ngFor="let data of topupUsage">
            <ion-item>
    
              <ion-label>
    
                <h1 style="font-size: 15px;font-weight: bold;">{{data.username}}</h1>
                <p style="font-size: 13px; color: #39dfeb;">{{data.description}}</p>
                <p style="font-size: 13px; color: #afafaf;">Ref: #{{data.month}}</p>
                <div class="bottom-text">
                  <p style="font-size: 13px;" class="date">{{data.date}}</p>
                  
                </div>
               
              
    
              </ion-label>
  
              <ion-button class="author" fill="outline">Price: ${{data.price}}</ion-button>
  
    
    
            </ion-item>
    
        </ion-list>
    
      </div>
    </ion-list>

    <ion-item>
      <ion-label>Payment:</ion-label>
    </ion-item>


    <div class="news-card" *ngIf="allPayment">
      <ion-datetime class="filterDate" displayFormat="MM/DD/YYYY" placeholder="Filter date" value="filterDate" [(ngModel)]="filterDate"></ion-datetime>
      <img *ngIf="allPayment.length==0" src="assets/not found.gif" width="300px" style="margin-left: auto; margin-right: auto; display: block;"/>
      
      <ion-list *ngFor="let data of allPayment">
        
          <ion-item>
  
            <ion-label>
  
              <h1 style="font-size: 15px;font-weight: bold;">{{data.username}}</h1>
              <p style="font-size: 13px; color: #39dfeb;">{{data.paymentMonth}}</p>
              <p style="font-size: 13px; color: #afafaf;">Ref: #{{data.ref}}</p>
              <div class="bottom-text">
                <p style="font-size: 13px;" class="date">{{data.datePayment}}</p>
                
              </div>
             
            
  
            </ion-label>

            <ion-button class="author" fill="outline">Payment: ${{data.totalPayment}}</ion-button>

  
  
          </ion-item>
  
      </ion-list>
  
    </div>



 


</ion-content>
