<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
    <ion-icon name="lock-closed"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item lines="none">
      <ion-label>
         First Name:
      </ion-label>
     </ion-item>
  
     <ion-item>
      <ion-input [(ngModel)]="username" item-start type="text"></ion-input>
     </ion-item>


     <ion-item lines="none">
      <ion-label>
        Password:
      </ion-label>
     </ion-item>
  
     <ion-item>
      <ion-input [(ngModel)]="password" item-start type="password"></ion-input>
     </ion-item>

  </ion-list>
  <br>

  <ion-button (click)="submit()" expand="block">Sign up</ion-button>

</ion-content>

<ion-footer>

  <ion-toolbar>

    <div>
      <p style="text-align: center;">Already have an account? <a (click)="Login()">Click Here</a></p>
    </div>

  </ion-toolbar>
 
</ion-footer>