<ion-header>
  <ion-toolbar>
    <ion-title>Update Balance</ion-title>
    <ion-icon class="arrow" (click)="Back()" name="arrow-back-outline"></ion-icon>
    <ion-icon (click)="submit()" class="tick" name="checkmark"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-item lines="none">
    <ion-label style="color: #009da8;">
      Current Balance: ${{totalbill}}
    </ion-label>
   </ion-item>

   <ion-item>
    <ion-input [(ngModel)]="dateBalance" item-start type="date"></ion-input>
   </ion-item>

   <ion-item lines="none">
    <ion-label>
     Balance Change:
    </ion-label>
   </ion-item>

   <ion-item>
     <p>$</p>
    <ion-input [(ngModel)]="totalBalance" item-start type="number"></ion-input>
   </ion-item>

   <ion-item lines="none">
    <ion-label>
     Balance Change For:
    </ion-label>
   </ion-item>

   <ion-item>
    <ion-select [(ngModel)]="paymentMonth" placeholder="Select Month For Payment">
      <ion-select-option value="January">January</ion-select-option>
      <ion-select-option value="February">February</ion-select-option>
      <ion-select-option value="March">March</ion-select-option>
      <ion-select-option value="April">April</ion-select-option>
      <ion-select-option value="May">May</ion-select-option>
      <ion-select-option value="June">June</ion-select-option>
      <ion-select-option value="July">July</ion-select-option>
      <ion-select-option value="August">August</ion-select-option>
      <ion-select-option value="September">September</ion-select-option>
      <ion-select-option value="October">October</ion-select-option>
      <ion-select-option value="November">November</ion-select-option>
      <ion-select-option value="December">December</ion-select-option>

    </ion-select>
   </ion-item>

   <br>

   <ion-item>
    <p style="font-size: 12px; color: red;">*Do not Change the Balance unless you are the administrator</p>
  </ion-item>




</ion-content>
